.header {
  width: 100vw;
  position: fixed;
}

.open-account-adv {
  display: flex;
  padding-top: 80px;
}

.first-section-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 130px 0px;
}

.paragraf {
  margin-top: 10px;
}

.div-img {
  min-width: 656px;
}

.button-alpha-none {
  display: none;
}

.buttons {
  padding-top: 30px;
  margin-left: -10px;
}

.second-section-text {
  background-color: #EAEEF2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 110px 0px;
}

.free-account {
  background-color: #EAEEF2;
  display: flex;
}

@media (max-width: 600px) {
  .open-account-adv {
    display: flex;
    width: 100vw;
    flex-direction: column-reverse;
  }

  .free-account {
    display: flex;
    width: 100vw;
    flex-direction: column;
  }

  .second-section-text {
    padding: 10px 30px 30px;
  }

  .second-section-title {
    padding-top: 20px
  }

  .div-img {
    min-width: 100%;
  }

  .first-section-text {
    padding: 10px 30px 30px;
  }
}